{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Let browser website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Google Incon Font -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Materialize -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %} Picha! {% endblock %}</title>
    {% block headcss %}{% endblock %}
</head>
<body>
    <h1>Hola</h1>
    <i class="fas fa-address-card"></i>
    <!-- <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s9">
                    <a href="{% url 'feedback:feedback-view' %}"><h3>Picha!</h3></a>
                </div>
                <div class="col s3">
                    <button data-target='feedback-modal' class='waves-effect waves-light btn modal-trigger'>Got Feedback?</button>
                </div>
            </div>
        </div>
        <div>
            <div id="feedback-modal" class="modal">
                <div class="modal-content">
                    <h4>We <3 feedback </h4>
                    <form action="{% url 'feedback:feedback-view' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <button class="btn waves-effect waves-light" type="submit" name="actopm">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
                <div class="model-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
            {% block content %} {% endblock %}
        </div> -->
    </div>
    <!-- Import JQuery before materialize.js -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}" ></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extrabody %}{% endblock %}
</body>
</html>